:root {
  --main-color: #f1f1f1;
  --dark-color: #2b2b28;
  --emphasis: #aaaaaa;
  --light-emphasis: #4a4a4846;
  --main-font-family: "Arimo", sans-serif;
  --cursive: "Libre Baskerville", serif;
}

body {
  background-color: var(--dark-color);
  color: var(--main-color);
  font-family: var(--main-font-family);
}

h1 {
  font-weight: 700;
}

h2 {
  color: var(--emphasis);
  font-size: 2rem;
  font-weight: 100;
}

h3 {
  color: var(--emphasis);
  margin: 3rem 0;
}

p {
  line-height: 1;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--emphasis);
}

.logo {
  max-height: 45px;
}

.nav-link {
  color: var(--main-color);
  font-family: var(--main-font-family);
}

.nav-link:hover,
.navbar-nav .nav-link.active {
  color: var(--emphasis);
}

.cursive {
  font-family: var(--cursive);
}

.light-emphasis {
  text-align: right;
}

.main-content,
.content-container {
  margin: 0px auto;
  max-width: 1500px;
}

.hero,
.content {
  margin: 200px auto;
  max-width: 800px;
}

.main-content .hero h2 {
  font-size: 25px;
}

.project-desc-r {
  margin: auto 0;
}

.project-desc-l {
  margin: auto 0;
  text-align: right;
}

.col-sm-6 h4 {
  font-size: 50px;
}

.content-container .content h2 {
  font-size: 25px;
}

footer {
  margin: 75px 0;
}

.for-mobile {
  display: none;
}

.for-desktop {
  display: flex;
}

@media (max-width: 768px) {
  body {
    text-align: center;
  }

  .col-sm-6 h4 {
    font-size: 40px;
  }

  img {
    text-align: center;
  }

  h3 {
    margin-bottom: 0px !important;
  }

  p {
    line-height: 1.2;
  }

  .hero,
  .content {
    margin: 50px auto;
  }

  .content .my-pic {
    max-width: 310px !important;
  }

  .light-emphasis {
    background-color: inherit;
  }

  .for-mobile {
    display: flex;
  }

  .for-desktop {
    display: none;
  }
}
