body {
  background-color: #2b2b28;
  color: #ebebe3;
  font-family: "Arimo", sans-serif;
}

em {
  font-family: "Libre Baskerville", serif;
}

h1 {
  font-weight: 700;
}

h2 {
  color: #c19898;
  font-size: 1.5rem;
  font-weight: 600;
}

p {
  line-height: 1;
  margin: 0;
}

.main-content {
  margin: 50px auto;
  max-width: 800px;
}
